.clear-functions {
    margin-right: 10px;
}
.align{
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.algo{
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: auto;
    height: 100%;
}